body {
    overflow: hidden;
	position: relative;
	z-index: 1;
	height: 100vh;
    overflow: hidden;
	background-image: url(img/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}